﻿@model TelefonRehberi.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Login</h3>
                    </div>
                   
                    <p>@Html.ValidationMessage("NotUser")</p>
                    <p>@Html.ValidationMessage("NotMatch")</p>
                    
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
                        {
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username" })
                                </div>
                                <span>@Html.ValidationMessageFor(model => model.UserName)</span>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <span>@Html.ValidationMessageFor(model => model.Password)</span>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                </div>
                                <span>@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Change Password">
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
