﻿@model TelefonRehberi.Models.Login
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Login</h3>
                    </div>
                    @if (TempData["Success"] != null)
                    {
                        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                    }
                    
                    <p>@Html.ValidationMessage("Error")</p>
                    
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                        {
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username" })
                                </div>
                                <span>@Html.ValidationMessageFor(model => model.UserName)</span>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <span>@Html.ValidationMessageFor(model => model.Password)</span>
                                @Html.ActionLink("Forgot Password", "ChangePassword", "Admin")
                                <br /><br />
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
